# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List Popular languages that Data Scientists use
- Commonly used libraries
- Examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include
1. Pandas
2. Matplotlib
3. Numpy

|Data Science Tools|
--
| Hadoop |
|Spark|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
def Hour_to_min(m):
    Hour=m/60
    return Hour

In [10]:
Hour_to_min(200)

3.3333333333333335

## Autor

Juan Pablo Rivera